@use './../../styles/vars';

body {
  background-color: vars.$bg-grey;
}

.app {
  background-color: vars.$secondary;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @media screen and (min-width: 1785px) {
    width: 70%;
  }
}
